.span12
  %h1 Sponsors
.span12
  %ul.nav.flexbox.flexbox--justify
    %li
      %a{href: "#"}
        %img(src="http://placehold.it/120x80")
    %li
      %a{href: "#"}
        %img(src="http://placehold.it/200x80")
    %li
      %a{href: "#"}
        %img(src="http://placehold.it/80x80")
    %li
      %a{href: "#"}
        %img(src="http://placehold.it/140x80")
