---
title: Progress Bar
published: true
---

.hero.clearfix
  .hero__content
    .container.section
      %h1 OMG Progress bar
      %h5.followon Progress bar is a meetup that brings UX minded people together. Our local speakers share and explore their experience with failing, success and the things that lead to progress with their daily work. @omgprogressbar


  .hero__bg.clearfix
    .bg-location
      .bg-location__image{style: "background-image: url(images/Stockholm.jpg)"}
    .bg-location
      .bg-location__image{style: "background-image: url(images/London.jpg)"}
    .bg-location
      .bg-location__image{style: "background-image: url(images/Berlin.jpg)"}


.container.section
  = partial "layouts/partials/locations"

.container.section
  = partial "layouts/partials/sponsors"