---
title: Progress Bar
---

.hero.clearfix
  .hero__content
    .container.section
      %h1 OMG Progress bar
      %h5.followon Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam


  .hero__bg.clearfix
    .bg-location
      .bg-location__image{style: "background-image: url(images/Stockholm.jpg)"}
    .bg-location
      .bg-location__image{style: "background-image: url(images/London.jpg)"}
    .bg-location
      .bg-location__image{style: "background-image: url(images/Berlin.jpg)"}


.container.section
  = partial "layouts/partials/locations"

.container.section
  = partial "layouts/partials/sponsors"