.hero.clearfix{style: "background-image: url(images/London.jpg)"}
  .hero__content.text-center
    .container.section
      %h1 Stockholm
      %h5.followon January  21st 2015

.container.container--small.section.text-center
  %p.large Progress bar is a meetup that brings UX minded people together. Our local speakers share and explore their experience with failing, success and the things that lead to progress with their daily work. 
  %a.btn{:href => "https://www.eventbrite.com/e/omg-progress-bar-london-tickets-14602018029"} Register on EventBrite

.container.section
  .span12
    %h1.text-center Speakers

  .span4
    %img{src: "images/London.jpg"}
    %h2 Speaker Name
    %h5 Talk Title
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.officia deserunt mollit anim id est laborum.

  .span4
    %img{src: "images/London.jpg"}
    %h2 Speaker Name
    %h5 Talk Title
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.officia deserunt mollit anim id est laborum.

  .span4
    %img{src: "images/London.jpg"}
    %h2 Speaker Name
    %h5 Talk Title
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.officia deserunt mollit anim id est laborum.

.container.section
  = partial "layouts/partials/sponsors"