.hero.clearfix{style: "background-image: url(images/London.jpg)"}
  .hero__content.text-center
    .container.section
      %h1 Stockholm
      %h5.followon 27th January 2015

.container.container--small.section.text-center
  %p.large Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  %a.btn{:href => "http://eventbrite.com"} Register on EventBrite

.container.section
  .span12
    %h1.text-center Speakers

  .span4
    %img{src: "images/London.jpg"}
    %h2 Speaker Name
    %h5 Talk Title
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.officia deserunt mollit anim id est laborum.

  .span4
    %img{src: "images/London.jpg"}
    %h2 Speaker Name
    %h5 Talk Title
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.officia deserunt mollit anim id est laborum.

  .span4
    %img{src: "images/London.jpg"}
    %h2 Speaker Name
    %h5 Talk Title
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.officia deserunt mollit anim id est laborum.

.container.section
  = partial "layouts/partials/sponsors"